@{
    Layout = "_Layout";
}

<h1>@Model.HeadTitle</h1>
<hr />
<div class="mb-3">
    @await RenderSectionAsync("Buttons", false)
</div>
<div class="table-responsive mb-3">
    @RenderBody()
</div>

@section Head {
    @await RenderSectionAsync("Head", false)
}

@section Scripts {
    @await RenderSectionAsync("Scripts", false)
}